body{
    margin : 0;
    padding : 0;
    background-image: url('../pictures/loginbg.jpg');
    background-size: cover;
    font-family: 'SF Pro Display ', Helvetica, Arial, sans-serif;
}
.loginContainer{
    width : 300px;
    padding : 10px;
    margin:100px auto;
    background : rgba(255, 255, 255, 0.877);
    border-radius : 10px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.3);
}

.loginContainer h2{
    text-align : center;
    margin-bottom : 20px;
}

.loginBox p {
    text-align: center;
}
.loginBox #submitButton{
    width : 30%;
    padding : 10px;
    background : #4CAF50;
    border : none;
    border-radius : 5px;
    color : white;
    font-size : 16px;
    cursor : pointer;
}
.loginBox input[type="text"], .loginBox input[type="password"]{
    width:290px;
    height:20px;
}
