body{
    background: linear-gradient(160deg, #006b20 0%, #2d2f4e 70%);
    background-repeat:no-repeat;
    min-height: 100vh;
    background-size: cover;
    font-family: 'SF Pro Display ', Helvetica, Arial, sans-serif;
}

.signUpContainer{
   width : 300px;
    padding : 10px;
    margin:100px auto;
    background : rgba(255, 255, 255, 0.877);
    border-radius : 10px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.signUpBox h2{
    text-align : center;
    margin-bottom : 20px;
}

.signUpBox p {
    text-align: center;
}
.signUpBox #submitButton{
    width : 30%;
    padding : 10px;
    background : #4CAF50;
    border : none;
    border-radius : 5px;
    color : white;
    font-size : 16px;
    cursor : pointer;
}

.signUpBox input[type="text"], .signUpBox input[type="password"],   .signUpBox input[type="email"]{
    width:290px;
    height:20px;
}